*{
    font-family: Lato;
    font-size:1.1em;
    text-align: center;
    color: white;
}

html{
    background-color: #0f0f0f;
}

input,select{
    margin-top: 15px;
    color: black;
}

form{
    margin-top: 40px;
}

option{
    text-align: left;
    color: black;
}